<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bất Động Sản</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Assets/client/flexslider/flexslider.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
    @Scripts.Render("~/Assets/client/flexslider/jquery.flexslider.js")

    <link href="~/Assets/chosen/bootstrap-chosen.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/images/banner01.jpg" class="img-circle" alt="Cinque Terre" width="50" height="50"></a>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Tìm kiếm", "List", "Home")</li>
                    <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                    <li>@Html.ActionLink("Hướng dẫn", "Contact", "Home")</li>
                </ul>
               @* @Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding:0px">
        @RenderBody()
    </div>
    <footer class="container-fluid text-center" style="margin-top: 10px">
        <div class="container text-center">
            <img src="/Images/banner01.jpg" class="img-circle" alt="Cinque Terre" width="60" height="60">
            <div class="_list_menu">
                <ul class="">
                    <li class="active"><a href="#">Trang chủ</a></li>
                    <li><a href="#">Tìm kiếm</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Hướng dẫn</a></li>
                </ul>
            </div>
        </div>
        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
    </footer>

    <script src="~/Assets/chosen/chosen.jquery.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("chosen", required: false)
</body>
</html>
