@using BDS.Data.Dto.Request;
@using BDS.Data.Dto;
@using BDS.Data.Enum;
@using BDS.Helper;

@model List<Criteria>


<link href="~/Assets/client/css/timkiem.css" rel="stylesheet" />

<!-- Khung tìm kiếm -->
<div class="_tim_kiem">
    <div class="_tk_dia_diem">
        <fieldset class="GroupBox">
            <legend class="GroupBoxLegend">Địa điểm</legend>
            <div class="row">
                <div class="form-group col-sm-6">
                    <input type="hidden" name="search.Criterias[94].ID" value="95" />
                    <input type="hidden" name="search.Criterias[94].Selected" value="true" />
                    <input id="txtAddress" type="hidden" name="search.Criterias[94].Value" value="" />
                    <input type="hidden" name="search.Criterias[94].EnumType" value="Address" />
                    <select class="chosen-select form-control" id="ddlProvince" name="ddlProvince">
                        <option selected hidden>--Chọn Tỉnh/Thành phố--</option>
                        @foreach (var item in ViewBag.CbProvince as List<Province>)
                        {
                            <option value="@item.ID.ToString()">@item.Type @item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <select class="form-control" id="ddlDistrict" name="ddlDistrict">
                        <option selected hidden>--Chọn Quận/Huyện--</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.DropDownList("search.Criterias[94].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-6">
                    <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                        @Html.CheckBox("search.Criterias[94].Prerequisite") Tiên quyết
                    </label>
                </div>
            </div>

        </fieldset>
    </div>
    <div class="_tk_gia">
        <fieldset class="GroupBox">
            <legend class="GroupBoxLegend">Giá</legend>
            <div class="form-group">
                <input type="hidden" name="search.Criterias[95].ID" value="96" />
                <input type="hidden" name="search.Criterias[95].Selected" value="true" />
                @Html.DropDownList("search.Criterias[95].Value", Price.Start.ToSelectList(), new { @class = "form-control" })
                <input type="hidden" name="search.Criterias[95].EnumType" value="Price" />
            </div>

            <div class="row">
                <div class="form-group col-sm-7">
                    @Html.DropDownList("search.Criterias[95].Importance", Importance.Start.ToSelectList(), new { @class = "form-control"})
                </div>
                <div class="form-group col-sm-5">
                    <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                        @Html.CheckBox("search.Criterias[95].Prerequisite") Tiên quyết
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="_tk_dien_tich">
        <fieldset class="GroupBox">
            <legend class="GroupBoxLegend">Diện tích</legend>
            
                <div class="form-group">
                    <input type="hidden" name="search.Criterias[96].ID" value="97" />
                    <input type="hidden" name="search.Criterias[96].Selected" value="true" />
                    @Html.DropDownList("search.Criterias[96].Value", Acreage.Start.ToSelectList(), new { @class = "form-control" })
                    <input type="hidden" name="search.Criterias[96].EnumType" value="Acreage" />
                </div>                
           
            <div class="row">
                <div class="form-group col-sm-6">
                    @Html.DropDownList("search.Criterias[96].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-6">
                    <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                        @Html.CheckBox("search.Criterias[96].Prerequisite") Tiên quyết
                    </label>
                </div>
            </div>

        </fieldset>
    </div>
    <div class="_tk_button">
        <div>
            <button type="button" id="btn_nang_cao" class="btn btn-primary" data-toggle="modal" data-target="#modal_timkiem">Nâng Cao</button>
        </div>
        <button type="submit" id="btn_tim_kiem" class="btn btn-success">Tìm Kiếm</button>
    </div>
</div>

<!-- Modal -->
<div id="modal_timkiem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form action="/Home/List" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tìm kiếm nâng cao</h4>
                </div>
                <div class="modal-body" style="padding:0px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#vatlykientruc">Vật lý kiến trúc</a></li>
                        <li><a data-toggle="tab" href="#vitri">Vị trí</a></li>
                        <li><a data-toggle="tab" href="#moitruong">Môi trường</a></li>
                        <li><a data-toggle="tab" href="#taichinh">Tài chính</a></li>
                        <li><a data-toggle="tab" href="#marketing">Marketing</a></li>
                        <li><a data-toggle="tab" href="#phaply">Pháp lý</a></li>
                    </ul>

                    <div class="tab-content" style="padding:10px">
                        <div id="vatlykientruc" class="tab-pane fade in active">
                            @Html.Partial("_VatLyPartial", (List<Criteria>)Model.Where(v => v.GroupID == 1).ToList())
                        </div>
                        <div id="vitri" class="tab-pane fade">
                            @Html.Partial("_ViTriPartial", (List<Criteria>)Model.Where(v => v.GroupID == 2).ToList())
                        </div>
                        <div id="moitruong" class="tab-pane fade">
                            @Html.Partial("_MoiTruongPartial", (List<Criteria>)Model.Where(v => v.GroupID == 3).ToList())
                        </div>
                        <div id="taichinh" class="tab-pane fade">
                            @Html.Partial("_TaiChinhPartial", (List<Criteria>)Model.Where(v => v.GroupID == 4).ToList())
                        </div>
                        <div id="marketing" class="tab-pane fade">
                            @Html.Partial("_MarketingPartial", (List<Criteria>)Model.Where(v => v.GroupID == 5).ToList())
                        </div>
                        <div id="phaply" class="tab-pane fade">
                            @Html.Partial("_PhapLyPartial", (List<Criteria>)Model.Where(v => v.GroupID == 6).ToList())
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="submit" id="btn_tim_kiem1" class="btn btn-success">Tìm Kiếm</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>

    function setValueInput()
    {
        $("#ddlDistrict").on("change", function () {
            var province = $("#ddlProvince").val();
            var district = $(this).val();
            $("#txtAddress").val(district + province);            
        });
    }

    function setEventToControl() {
        var province = $("#ddlProvince").val();

        $.ajax({
            url: '@Url.Action("GetDistrictByID", "Home")',
            type: "GET",
            dataType: "JSON",
            data: { id: province },
            success: function (cities) {
                console.log(cities);
                //$("#_district").html();
                $("#ddlDistrict").find('option').remove();
                $("#ddlDistrict").append($("<option selected hidden></option>").attr("value", "").text("--Chọn Quận/Huyện--"));
                $.each(cities, function (i, city) {
                    //$("#ddlDistrict").append(
                    //    $('<option></option>').val(city.ID).html(city.Name));

                    $("#ddlDistrict").append($("<option></option>").attr("value", city.ID).text(city.Type + " " + city.Name));
                });
            },
            error: function (a) {
                console.log(a.responseText);
                alert("lỗi");
            }
        });

        $("#ddlProvince").on("change", function () {
            setValueInput();
            $("#Lat").val("");
            $("#Long").val("");
            var stateId = $(this).val();

            $.ajax({
                url: '@Url.Action("GetDistrictByID", "Home")',
                type: "GET",
                dataType: "JSON",
                data: { id: stateId },
                success: function (cities) {
                    console.log(cities);
                    //$("#_district").html();
                    $("#ddlDistrict").find('option').remove();
                    $("#ddlDistrict").append($("<option selected hidden></option>").attr("value", "").text("--Chọn Quận/Huyện--"));
                    $.each(cities, function (i, city) {
                        //$("#ddlDistrict").append(
                        //    $('<option></option>').val(city.ID).html(city.Name));

                        $("#ddlDistrict").append($("<option></option>").attr("value", city.ID).text(city.Type + " " + city.Name));
                    });
                },
                error: function (a) {
                    console.log(a.responseText);
                    alert("lỗi");
                }
            });
        });
    }

    //function CheckInputControl(){
    //    var length = 97
    //    for (var i = 0; i < length; i++) {            
    //        var select = $("#search_Criterias_" + i + "__Value");
    //        var checkbox = $("#search_Criterias_" + i + "__Selected");
    //        var importance = $("#search_Criterias_" + i + "__Importance");
    //        var prerequisite = $("#search_Criterias_" + i + "__Prerequisite");

    //        $(select).on("change", function () {

    //            $(importance).removeAttr('disabled');
    //            $(prerequisite).removeAttr('disabled');
    //        });

    //        $(checkbox).change(function(){
    //            if ($(checkbox).is(":checked")) {
    //                $(importance).removeAttr('disabled');
    //                $(prerequisite).removeAttr('disabled');
    //            }
    //            else {
    //                $("#pizza_kind").prop('disabled', 'disabled');
    //            }
    //        });
    //    }
    //}

    $(document).ready(function () {
        setValueInput();
        //CheckInputControl();
        setEventToControl()
        var data = @Html.Raw(Json.Encode(ViewBag.Searchs));
        if(data != null)
        {
            for (var i = 0; i < data.length; i++) {
                if (data[i].ID == 95)
                {
                    $("#ddlProvince").val(data[i].ddlProvince)
                    setEventToControl()
                    $("#ddlDistrict").val(data[i].ddlDistrict)
                    $("#search_Criterias_94__Importance").val(data[i].Importance)
                    $("#search_Criterias_94__Prerequisite").prop("checked", data[i].Prerequisite)
                }
                else if (data[i].ID == 96)    
                {
                    $("#search_Criterias_95__Value").val(data[i].Value)
                    $("#search_Criterias_95__Importance").val(data[i].Importance)
                    $("#search_Criterias_95__Prerequisite").prop("checked", data[i].Prerequisite)
                }
                else if (data[i].ID == 97){
                    $("#search_Criterias_96__Value").val(data[i].Value)
                    $("#search_Criterias_96__Importance").val(data[i].Importance)
                    $("#search_Criterias_96__Prerequisite").prop("checked", data[i].Prerequisite)
                }                
            }
        }
        
        // Gán event
    });

    
</script>

