@using BDS.Data.Dto;
@using BDS.Data.Enum;
@using BDS.Helper;
@model List<Criteria>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#vatly1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Thiết kế tối ưu
                </h4>
            </div>
        </a>
        <div id="vatly1" class="panel-collapse collapse in">
            <div class="panel-body">
                
                    @{
                        var list = Model.Where(t => t.Type == 1).ToList();                       
                        var index = 0;
                    }
                    @foreach (var item in list)
                    {
                        <div class="row">
                            <div class="col-md-7">
                                <div class="checkbox">
                                    @if (!string.IsNullOrEmpty(item.Description))
                                    {
                                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description">
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                        <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                    }
                                    else
                                    {
                                        <label>
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                    }
                                    <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                                    @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                                </label>
                            </div>
                            <div class="col-md-3 form-group">
                                @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })                               
                            </div>                                                     
                        </div>
                        index = index + 1;
                    }
                        
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#vatly2">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Khả năng tiếp cận
                </h4>
            </div>
        </a>
        <div id="vatly2" class="panel-collapse collapse">
            <div class="panel-body">
                    @{
                        var list1 = Model.Where(t => t.Type == 2).ToList();
                    }
                    @foreach (var item in list1)
                    {
                        <div class="row">
                            <div class="col-md-7">
                                <div class="checkbox">
                                    @if (!string.IsNullOrEmpty(item.Description))
                                    {
                                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description">
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                        <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                    }
                                    else
                                    {
                                        <label>
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                    }
                                    <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                                    @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                                </label>
                            </div>
                            <div class="col-md-3 form-group">
                                @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                            </div>
                        </div>
                        index = index + 1;
                    }

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#vatly3">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Khả năng thích nghi
                </h4>
            </div>
        </a>
        <div id="vatly3" class="panel-collapse collapse">
            <div class="panel-body">
                    @{
                        var list2 = Model.Where(t => t.Type == 3).ToList();
                    }
                    @foreach (var item in list2)
                    {
                        <div class="row">
                            <div class="col-md-7">
                                <div class="checkbox">
                                    @if (!string.IsNullOrEmpty(item.Description))
                                    {
                                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description">
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                        <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                    }
                                    else
                                    {
                                        <label>
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                    }
                                    <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                                    @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                                </label>
                            </div>
                            <div class="col-md-3 form-group">
                                @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                            </div>
                        </div>
                        index = index + 1;
                    }
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#vatly4">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Bố trí không gian
                </h4>
            </div>
        </a>
        <div id="vatly4" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <input type="hidden" name="search.Criterias[@index].ID" value="17" />
                        <input type="hidden" name="search.Criterias[@index].Selected" value="true" />
                        @Html.DropDownList("search.Criterias[" + index + "].Value", KichthuocPhongNgu.Start.ToSelectList(), new { @class = "form-control" })
                        <input type="hidden" name="search.Criterias[@index].EnumType" value="KichthuocPhongNgu" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                            @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                        </label>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                        @{ index = index + 1;}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="hidden" name="search.Criterias[@index].ID" value="18" />
                        <input type="hidden" name="search.Criterias[@index].Selected" value="true" />
                        @Html.DropDownList("search.Criterias[" + index + "].Value", KichthuocToilet.Start.ToSelectList(), new { @class = "form-control" })
                        <input type="hidden" name="search.Criterias[@index].EnumType" value="KichthuocToilet" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                            @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                        </label>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                        @{ index = index + 1;}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="hidden" name="search.Criterias[@index].ID" value="19" />
                        <input type="hidden" name="search.Criterias[@index].Selected" value="true" />
                        @Html.DropDownList("search.Criterias[" + index + "].Value", KichthuocPhongKhach.Start.ToSelectList(), new { @class = "form-control" })
                        <input type="hidden" name="search.Criterias[@index].EnumType" value="KichthuocPhongKhach" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                            @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                        </label>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                        @{ index = index + 1;}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="hidden" name="search.Criterias[@index].ID" value="20" />
                        <input type="hidden" name="search.Criterias[@index].Selected" value="true" />
                        @Html.DropDownList("search.Criterias[" + index + "].Value", SoLuongPhongNgu.Start.ToSelectList(), new { @class = "form-control" })
                        <input type="hidden" name="search.Criterias[@index].EnumType" value="SoLuongPhongNgu" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                            @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                        </label>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                        @{ index = index + 1;}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="hidden" name="search.Criterias[@index].ID" value="21" />
                        <input type="hidden" name="search.Criterias[@index].Selected" value="true" />
                        @Html.DropDownList("search.Criterias[" + index + "].Value", SoLuongToiletChung.Start.ToSelectList(), new { @class = "form-control" })
                        <input type="hidden" name="search.Criterias[@index].EnumType" value="SoLuongToiletChung" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                            @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                        </label>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                        @{ index = index + 1;}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <input type="hidden" name="search.Criterias[@index].ID" value="22" />
                        <input type="hidden" name="search.Criterias[@index].Selected" value="true" />
                        @Html.DropDownList("search.Criterias[" + index + "].Value", SoluongToiletRieng.Start.ToSelectList(), new { @class = "form-control" })
                        <input type="hidden" name="search.Criterias[@index].EnumType" value="SoluongToiletRieng" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                            @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                        </label>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                        @{ index = index + 1;}
                    </div>
                </div>                                                               
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#vatly5">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Hiệu xuất của hệ thống M&E
                </h4>
            </div>
        </a>
        <div id="vatly5" class="panel-collapse collapse">
            <div class="panel-body">
                    @{
                        var list4 = Model.Where(t => t.Type == 5).ToList();
                    }
                    @foreach (var item in list4)
                    {
                        <div class="row">
                            <div class="col-md-7">
                                <div class="checkbox">
                                    @if (!string.IsNullOrEmpty(item.Description))
                                    {
                                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description">
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                        <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                    }
                                    else
                                    {
                                        <label>
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                    }
                                    <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                                    @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                                </label>
                            </div>
                            <div class="col-md-3 form-group">
                                @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                            </div>
                        </div>
                        index = index + 1;
                    }
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#vatly6">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Vật liệu xây dựng
                </h4>
            </div>
        </a>
        <div id="vatly6" class="panel-collapse collapse">
            <div class="panel-body">
                    @{
                        var list5 = Model.Where(t => t.Type == 6).ToList();
                    }
                    @foreach (var item in list5)
                    {
                        <div class="row">
                            <div class="col-md-7">
                                <div class="checkbox">
                                    @if (!string.IsNullOrEmpty(item.Description))
                                    {
                                        <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description">
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                        <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                    }
                                    else
                                    {
                                        <label>
                                            @Html.CheckBox("search.Criterias[" + index + "].Selected")@item.Name
                                        </label>
                                    }
                                    <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="">
                                    @Html.CheckBox("search.Criterias[" + index + "].Prerequisite") Tiên quyết
                                </label>
                            </div>
                            <div class="col-md-3 form-group">
                                @Html.DropDownList("search.Criterias[" + index + "].Importance", Importance.Start.ToSelectList(), new { @class = "form-control" })
                            </div>
                        </div>
                        index = index + 1;
                    }
            </div>
        </div>
    </div>


</div>

