<link href="~/Assets/client/css/detail.css" rel="stylesheet" />
@using BDS.Data.Dto;
@using BDS.Common;
@model Project

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
           @Styles.Render("~/Assets/client/flexslider/flexslider.css")
}

@{
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
}
@if (session != null)
{
    <input type="hidden" id="UserID" value="@session.UserID" />
}


<style>
    hr{    
    border-top: 1px solid black;
}
    div.container-fluid{
        background-color:#3b8fc5;
    }
</style>

<form action="/Home/List" method="post">
    @*@Html.Partial("_TimKiemPartial", (List<Criteria>)ViewBag.Criterias);*@
</form>
<!-- Phần chi tiết -->
<div class="container _main">
    <div class="_slide_image">
        <div class="flexslider">
            <ul class="slides">
                @foreach (var img in Model.Image)
                {
                    <li>
                        <img class="" src="@img.Url@img.Name"  height="200px"/>
                    </li>
                }
                                                
            </ul>
        </div>

    </div>
    <div class="_content_title">
        <div class="_image_tilte col-md-2">
            @if (Model.Image != null && Model.Image.Any())
            {               
                <img src="@Model.Image.ElementAt(0).Url@Model.Image.ElementAt(0).Name" alt="Fjords" class="img-responsive">                               
            }
           
        </div>
        <div class="_thong_tin col-md-10" style="margin-left: -35px">
            <div class="_tieu_de col-sm-12"><b>@Model.Name</b></div>
            <div class="_dia_chi col-sm-12">@Model.Address</div>
            <div class="_gia col-sm-12">$: @Model.Price @Model.UnitPrice</div>
            <div class="_dien_tich col-sm-12">S: @Model.Acreage m2</div>
        </div>
    </div>
    <div class="_tab_box">
        <div class="_tab_menu col-md-9">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#binhluan">Bình luận</a></li>
                <li><a data-toggle="pill" href="#mota">Mô tả</a></li>
                <li><a data-toggle="pill" href="#hinhanh">Hình ảnh</a></li>
            </ul>
        </div>
        <div class="_like_save col-md-3">

        </div>
    </div>

    <div class="_content_detail">
        <div class="_detail_col_left">
            <div class="tab-content">
                <div id="binhluan" class="tab-pane fade in active">
                    <div class="list-comment">
                        @{Html.RenderAction("CommentList", "Comment", new { id = Model.ID });}
                    </div>                                      
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea class="form-control" rows="5" id="txtComment" placeholder="Nội dung bình luận"></textarea>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px">
                            <div class="col-md-4">
                                <button type="button" id="btnBinhLuan" class="btn btn-default" style="float:right">Gửi bình luận</button>
                            </div>
                            <div class="col-md-8">
                                <input class="btn-primary btn" id="fileComment" type="file" name="files" value="" multiple="multiple" />    
                            </div>                            
                        </div>                          
                    </div>                                                                
                </div>
                <div id="mota" class="tab-pane fade">
                    <h3>Thông tin mô tả</h3>
                    @Html.Raw(Model.Description)                   
                </div>
                <div id="hinhanh" class="tab-pane fade">
                    @foreach (var img in Model.Image)
                    {                        
                        <div class="_item_image">
                            <img src="@img.Url@img.Name" class="myImg img-thumbnail" alt="Thanh Pho" width="300" height="200">
                        </div>
                    }                                                                               
                </div>
            </div>
        </div>
        <div class="_detail_col_right">
            <div class="_ban_do">
                <div id="googleMap" style="height:100%;width:100%;"></div>
                <!-- Add Google Maps -->                               
                <script>
                  function initMap() {
                      var uluru = { lat:@Model.Lat, lng:@Model.Long};
                    var map = new google.maps.Map(document.getElementById('googleMap'), {
                      zoom: 12,
                      center: uluru,
                      scrollwheel: true,
                      draggable: true,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    });
                    var marker = new google.maps.Marker({
                      position: uluru,
                      map: map
                    });
                  }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq2vNKISjdL0GJcmj_0oVqKCBEmwoV_os&callback=initMap">
                </script>
            </div>
            <div class="_lien_he">
                <div class="panel panel-default">
                    <div class="panel-heading">Liên Hệ</div>
                    <div class="panel-body">
                        @Html.Raw(Model.Contact)
                    </div>
                </div>

            </div>
            
        </div>
    </div>



</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<div class="container-fluid" style="background-color:white; padding-top:10px; padding-bottom:30px; margin-top:5px">
    <div class="list_du_an container">
        <div class="_title">
            <h2>Bất động sản tương tự</h2>
        </div>

        <div class="row">
            @{
                var data = (List<Project>)ViewBag.ListTuongTu;
            }
            @if (data != null && data.Any())
            {
                foreach (var item in data)
                {
                    Html.RenderPartial("_DuAnPartial", item, null);
                }
            }
            else
            {
                <h2 style="text-align: center"><i>Hiện tại chưa có bất động sản tương tự.</i></h2>
            }

        </div>
    </div>
</div>

@section scripts{


@Scripts.Render("~/Assets/client/flexslider/jquery.flexslider.js")
<script type="text/javascript">

    $(document).ready(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        animationLoop: false,
        itemWidth: 300,
        itemMargin: 5,

      });


        // Get the modal
      var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementsByClassName("myImg");
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");
      $(".myImg" ).on( "click", function() {
          modal.style.display = "block";
          modalImg.src = this.src;
          captionText.innerHTML = this.alt;
      });


      modal.onclick = function() {
          modal.style.display = "none";
      }

    });

    $("#btnBinhLuan").on("click", function () {
        var url = window.location.pathname + "?projectId=" + @Model.ID;
        var sess = @Html.Raw(Json.Encode(session));
        if (sess != null) {
            var txtComment = $("#txtComment").val();
            var projectid = @Model.ID;
            var userid = $("#UserID").val();

            var files = document.getElementById("fileComment").files;
            var formData = new FormData();

            if(files != null)
            {
                for (i = 0; i < files.length; i++) {
                    formData.append(files[i].name, files[i]);
                    console.log(files[i]);
                }
            }

            formData.append('ProjectID', projectid);
            formData.append('Content', txtComment);
            formData.append('UserID', userid);

            InsertComment(formData, null);
        }
        else
        {
            redirect(url);
        }

    });

    function redirect(retrunUrl) {
        var url = '@Url.Action("Login", "User", new { returnUrl = "url" })';
        window.location.href = url.replace('url', retrunUrl);
    }

    function InsertComment(formData, control) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "Comment")',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                $(".list-comment").html(data);
                location.reload();
            },

            error: function (request, status, error) {
                console.log(request.responseText);
            }
        });
    }

</script>
}

