@using BDS.Data.Dto.Response;
@using BDS.Data.Dto;

@model SearchResult<Project>

@{
    ViewBag.Title = "Trang chủ";
}


<div class="_main_content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/Images/banner01.jpg" alt="Image" width="100%">
                <div class="carousel-caption">
                </div>
            </div>

            <div class="item">
                <img src="/Images/banner02.jpg" alt="Image" width="100%">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>

    <div id="form_tim_kiem">
        <form>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Công cụ tìm kiếm</b></div>
                <div class="panel-body">
                    <fieldset class="GroupBox">
                        <legend class="GroupBoxLegend">Địa điểm</legend>
                        <div class="form-group">
                            <select class="chosen-select form-control" id="ddlProvince">
                                <option selected hidden>--Chọn Tỉnh/Thành phố--</option>
                                @foreach (var item in ViewBag.CbProvince as List<Province>)
                                {
                                    <option value="@item.ID.ToString()">@item.Type @item.Name</option>
                                }                                
                            </select>
                        </div>
                        <div class="form-group" id="_district">
                            <select class="form-control" id="ddlDistrict">
                                <option selected hidden>--Chọn Quận/Huyện--</option>
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="do_uu_tien">
                                <option selected hidden>--Độ ưu tiên--</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="GroupBox">
                        <legend class="GroupBoxLegend">Giá</legend>
                        <div class="form-group">
                            <select class="form-control" id="do_uu_tien">
                                <option selected hidden>--Chọn giá--</option>
                                <option>Dưới 300 triệu</option>
                                <option>300 - 500 triệu</option>
                                <option>500 - 1 tỷ</option>
                                <option>Trên 1 tỷ</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control" id="do_uu_tien">
                                <option selected hidden>--Độ ưu tiên--</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="GroupBox">
                        <legend class="GroupBoxLegend">Diện tích</legend>
                        <div class="form-group">
                            <select class="form-control" id="do_uu_tien">
                                <option selected hidden>--Diện tích thấp nhất--</option>
                                <option>20 m2</option>
                                <option>30 m2</option>
                                <option>50 m2</option>
                                <option>80 m2</option>
                                <option>100 m2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="do_uu_tien">
                                <option selected hidden>--Diện tích cao nhất--</option>
                                <option>20 m2</option>
                                <option>30 m2</option>
                                <option>50 m2</option>
                                <option>80 m2</option>
                                <option>100 m2</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="do_uu_tien">
                                <option selected hidden>--Độ ưu tiên--</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </fieldset>

                    <button type="submit" id="btn_tim_kiem" class="btn btn-default">Tìm Kiếm</button>
                </div>
            </div>
        </form>
    </div>

    <div class="_caption">
        <h3> Bất động sản dành cho người thu nhập trung bình thấp</h3>
    </div>
    <div class="_caption _slogon">
        <h1><b> HÃY CHỌN NGAY NGÔI NHÀ PHÙ HỢP CHO MÌNH! </b></h1>
    </div>
</div>


<div class="list_du_an container">
    <div class="_title">
        <h2>Bất động sản mới nhất</h2>
    </div>

    <div class="row">
        @if (Model.Data != null && Model.Data.Any())
        {
            foreach (var item in Model.Data)
            {
                Html.RenderPartial("_DuAnPartial", item, null);
            }
        }
        else
        {

        }

    </div>
</div><br>
@*<script src="~/Assets/client/js/dropdownlist.js"></script>*@

<script>
       
    function setEventToControl() {
        $("#ddlProvince").on("change", function () {
            $("#Lat").val("");
            $("#Long").val("");
            var stateId = $(this).val();

            $.ajax({
                url: '@Url.Action("GetDistrictByID", "Home")',
                type: "GET",
                dataType: "JSON",
                data: { id: stateId },
                success: function (cities) {                    
                    console.log(cities);
                    //$("#_district").html();
                    $("#ddlDistrict").find('option').remove();
                    $("#ddlDistrict").append($("<option selected hidden></option>").attr("value", "").text("--Chọn Quận/Huyện--"));
                    $.each(cities, function (i, city) {
                        //$("#ddlDistrict").append(
                        //    $('<option></option>').val(city.ID).html(city.Name));

                        $("#ddlDistrict").append($("<option></option>").attr("value", city.ID).text(city.Type + " " + city.Name));
                    });
                },
                error: function (a) {
                    console.log(a.responseText);
                    alert("lỗi");
                }
            });
        });
    }

    $(document).ready(function () {
        //var prm = Sys.WebForms.PageRequestManager.getInstance();
        //prm.add_endRequest(function () {
        //    setEventToControl();// Gán event sau khi postback
        //});
        setEventToControl();// Gán event
    });

    // Lấy danh sách phường theo quận gán vào select
    function GetListPhuongToSelectBox(data, element) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDistrictByID", "Home")' + "?id=" + data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //data:JSON.stringify($("#ddlDistrict").val()),
            //async: false,
            success: function (data) {
                alert("thanh công" + data);
                $('#' + element).find('option').remove();
                $('#' + element).append($("<option></option>").attr("value", "").text("--Chọn Quận/Huyện--"));
                $.each(data, function () {
                    $('#' + element).append($("<option></option>").attr("value", this.ID).text(this.Name));
                });
            },
            error: function (a) {
                console.log(a.responseText);
                alert("lỗi");
            }
        });
    }
</script>

@section chosen{

<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
}