@using BDS.Data.Dto;

@model List<Criteria>


<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#accordion1" href="#vitri1">
          <div class="panel-heading">
              <h4 class="panel-title">
                  Tính toàn diện xã hội
              </h4>
          </div>
      </a>
    <div id="vitri1" class="panel-collapse collapse in">
      <div class="panel-body">
          <div class="row">
              @{
                  var list = Model.Where(t => t.Type == 1).ToList();
                  var index = 0;                  
              }
              @foreach (var item in list)
              {
                  index = (int)item.ID - 1;
                <div class="checkbox">
                    @if (!string.IsNullOrEmpty(item.Description))
                    {
                    <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description">
                        @Html.CheckBox("search.Criterias[" + index + "].selected")@item.Name
                    </label>
                    }
                    else
                    {
                    <label>
                        @Html.CheckBox("search.Criterias[" + index + "].selected")@item.Name
                    </label>
                    }
                    <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                </div>
                  index = index + 1;
              }             
          </div>          
      </div>
    </div>
  </div>
  <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#accordion1" href="#vitri2">
          <div class="panel-heading">
              <h4 class="panel-title">
                  Hệ thống hạ tầng xung quanh
              </h4>
          </div>
      </a>
    <div id="vitri2" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="row">
              @{
                  var list1 = Model.Where(t => t.Type == 2).ToList();
            }
            @foreach (var item in list1)
            {
                <div class="checkbox">
                    @if (!string.IsNullOrEmpty(item.Description))
                    {
                    <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description">
                        @Html.CheckBox("search.Criterias[" + index + "].selected")@item.Name
                    </label>
                    }
                    else
                    {
                    <label>
                        @Html.CheckBox("search.Criterias[" + index + "].selected")@item.Name
                    </label>
                    }
                    <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                </div>
                index = index + 1;
            }
             
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#accordion1" href="#vitri3">
          <div class="panel-heading">
              <h4 class="panel-title">
                  Yếu tố phong thủy căn nhà
              </h4>
          </div>
      </a>
    <div id="vitri3" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="row">
              @{
                  var list2 = Model.Where(t => t.Type == 3).ToList();
            }
            @foreach (var item in list2)
            {
                <div class="checkbox">
                    @if (!string.IsNullOrEmpty(item.Description))
                    {
                    <label class="_tooltip" data-toggle="tooltip" data-placement="top" title="@item.Description">
                        @Html.CheckBox("search.Criterias[" + index + "].selected")@item.Name
                    </label>
                    }
                    else
                    {
                    <label>
                        @Html.CheckBox("search.Criterias[" + index + "].selected")@item.Name
                    </label>
                    }
                    <input type="hidden" name="search.Criterias[@index].ID" value="@item.ID" />
                </div>
                index = index + 1;
            }
          </div>          
      </div>
    </div>
  </div>

 
</div>

